<!-- Head -->
<template id="tpl-head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AccessRide</title>

    <link rel="icon" href="/assets/img/cadeira.png"/>
    <link crossorigin href="https://fonts.gstatic.com/" rel="preconnect" />
    <link
        href="https://fonts.googleapis.com/css2?display=swap&family=Noto+Sans:wght@400;500;700;900&family=Spline+Sans:wght@400;500;700"
        rel="stylesheet"
    />
    <link
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
        rel="stylesheet"
    />
</template>

<!-- Header -->
<template id="tpl-header">
    <header>
        <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 items-center justify-between">
            <div class="flex items-center gap-4 text-white">
                <span
                class="material-symbols-outlined text-3xl text-[#38e07b]"
                >accessible_forward</span
                >
                <a href="../index.html">
                <h1 class="text-xl font-bold tracking-tight">AccessRide</h1>
                </a>
            </div>

            <nav class="hidden md:flex items-center gap-8">
                <a
                class="text-sm font-medium text-white hover:text-white transition-colors"
                href="../index.html"
                >Home</a
                >
                <a
                class="text-sm font-medium text-gray-300 hover:text-white transition-colors"
                href="pages/viajar.html"
                >Viajar</a
                >
                <a
                class="text-sm font-medium text-gray-300 hover:text-white transition-colors"
                href="pages/segurança.html"
                >Segurança</a
                >
                <a
                class="text-sm font-medium text-gray-300 hover:text-white transition-colors"
                href="pages/atividades.html"
                >Atividades</a
                >
                <a
                class="text-sm font-medium text-gray-300 hover:text-white transition-colors"
                href="pages/sobre.html"
                >Sobre nós</a
                >
            </nav>

            <div class="flex items-center gap-2">
                <a
                href="pages/login.html"
                class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 bg-[#29382f] text-white text-sm font-bold leading-normal tracking-[0.015em] hover:bg-gray-700 transition-colors"
                >Conecte-se</a
                >
                <a
                href="pages/viajar.html"
                class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 bg-[#38e07b] text-[#111714] text-sm font-bold leading-normal tracking-[0.015em] hover:bg-green-400 transition-colors"
                >Solicite uma carona</a
                >
            </div>
        </div>
        </div>
    </header>
</template>

<!-- Footer -->
<template id="tpl-footer">
    <footer>
        <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-12 text-center text-[#9eb7a8]">
        <div class="flex justify-center items-center gap-4 mb-6">
            <span class="material-symbols-outlined text-3xl text-[#38e07b]">accessible_forward</span>
            <h2 class="text-xl font-bold text-white">AccessRide</h2>
        </div>
        
        <div class="flex flex-wrap items-center justify-center gap-6 mb-6">
            <a class="text-sm hover:text-white transition-colors" href="#">
            Política de Privacidade</a>
            <a class="text-sm hover:text-white transition-colors" href="#">Termos de Serviço</a>
            <a class="text-sm hover:text-white transition-colors" href="#">
            Contate-nos</a>
        </div>
        <p class="text-sm">© 2025 AccessRide. Todos os direitos reservados.</p>
        </div>
    </footer>
</template>
